<style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #07130d;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
   .logo{
      height: 35px;
      width:155px;
    }
     h1,h2,h3,h4,h5,h6,p{
      font-family:'Roboto';
    }
    th{
      font-family:'Roboto';
      font-size: 12px
    }
    tr{
      font-family:'Roboto';
      font-size: 11px
    }
    a{
      color: #fff;
      font-size: 12px;
    }
    .active a{
    background-color: #00cc99 !important;
    }
    .icon_sub{
      background-image: url("images/icon_subscript.png");
      height: 15px;
      width: 15px;
    }
     .icon_pay{
      background-image: url("images/icon_paym.png");
      height: 15px;
      width: 15px;
    }
     .icon_rep{
      background-image: url("images/icon_rept.png");
      height: 15px;
      width: 15px;
    }
     .icon_edit{
      background-image: url("images/icon_edt.png");
      height: 15px;
      width: 15px;
    }
       .icon_out{
      background-image: url("images/icon_lout.png");
      height: 15px;
      width: 15px;
    }
    .design {
    position: relative;
    right: 10px;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
     .btn-leave {
      color: #fff;
      background-color: #00cc99;
      border-color: #00cc99;
      border-radius: 20px
   }
    .btn-gray {
      color: #fff;
      background-color: #262626;
      border-color: #262626;
      border-radius: 20px
  }
   .btn-white {
      color: #262626;
      background-color: #fff;
      border-color: #fff;
      border-radius: 3px
  }
  .lightgray-hover:hover{
    background-color: #f1f1f1;
  }
   .aqua-hover:hover{
    color: #fff;
    background-color: #00cc99!important;
    opacity: 1;
  }
  .dropdown-menu{
    min-width: 114px;
  }
  .form-control-edit {
    width: 955px;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f1f1f1;
    background-image: none;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input#dsearch{
    background-image:url(images/icon_search.png);
    background-repeat:no-repeat;
    background-position:18px;
    font-family:'Roboto Light';
    margin-top:0px;
    padding-top:11px;
    padding-left:50px;
    padding-bottom: 10px;
    border-radius: 4px;
    width:955px;
    height:34px;
    font-size:14px;
    box-shadow:0 0 0px;
    -webkit-box-shadow:0 0 0px;
    /* For I.E */
    -moz-box-shadow:0 0 0px;
    /* For Mozilla Web Browser*/
    border-radius:0px;
    -webkit-border-radius:0px;
    /* For I.E */
    -moz-border-radius:0px
    /* For Mozilla Web Browser*/
  }
  .btn-hover-white:hover{
    color: #00cc99!important;
    background-color: #f2f2f2!important;
    border-color: #ffffff!important
    border-color: #00cc99;
  }
    .btn-hover-lightgray:hover{
    color: #000!important;
    background-color: #f2f2f2!important;
    border-color: #f2f2f2!important
    border-color: #ccc;
  }
  .graph {
    padding-top: 55px;
    padding-left: 185px;
    width: 335px;
}
.well {
    min-height: 20px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid #f1f1f1;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.05);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00cc99;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00cc99;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.form-control {
    display: block;
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f1f1f1;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #ccc;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(0, 0, 0, 0.075);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.month {
    padding: 40px 25px;
    width: 100%;
    height: 125px;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
ul {list-style-type: none;}


  </style>